
<p>Rodolfo Collins 11-1</p>

<style>
  table {
    
    width: 50%;
    margin:auto;
    padding: 10px;
  }
  
  td, th {
    border: 1px solid blue;
    background-color: beige;
    text-align: left;
    
  }
  


  </style>
<table class="center">
  <tr>
   
    
    
  </tr>
  <tr>
    <td><app-button-save></app-button-save></td>
    <td><app-button-save></app-button-save></td>
    <td><app-button-save></app-button-save></td>
    
  </tr>
  <tr>
    <td><app-button-save></app-button-save></td>
    <td><app-button-save></app-button-save></td>
    <td><app-button-save></app-button-save></td>
    
  </tr> 
</table>




